.category-page {
  padding: 20px;
  text-align: center;
}

.category-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-item {
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

.category-item img {
  width: 100%;
  height: auto;
}

.category-item button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.category-item button:hover {
  background-color: #218838;
}
